<% if params[:action] == 'search' %>
  <div class="results-block">
    <%= bootstrap_flash %>
  </div>
<% end %>
<% if @stock %>
  <div class="well results-block">
    <strong>Símbolo: </strong><%= @stock.ticker %>
    <strong>Nombre: </strong><%= @stock.name %>
    <strong>Precio: </strong><%= @stock.last_price %>
    <%= link_to "Agregar al portfolio", user_stocks_path(user: current_user, stock_ticker: @stock.ticker), class:"btn btn-xs btn-success", method: :post %>
  </div>
<% end %>